		<footer>
			<hr />
			Copyright (c) {{site.copyright}}-{{site.year}}, <a href="{{site.url}}">{{site.author}}</a>
			<div id="powered">Powered by <a href="">Motyl</a></div>
		</footer>
	</div>
</body>
</html>
