<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{page.title}} - {{site.name}}</title>

	<meta name="description" content="{{page.description}}" />
	<meta name="keywords" content="{{page.keywords}}" />
	<meta name="author" content="{{site.author}}" />
	<meta name="robots" content="index, follow, archive" />

	<link rel="canonical" href="{{{site.url}}}{{{page.url}}}" /> 

	<link rel="stylesheet" href="/styles/motyl.css" type="text/css" />
</head>

<body>
	<header>
		<h2><a href="/">{{site.author}}</a></h2>
		{{#site.pages}}
		<a href="{{{url}}}">{{{title}}}</a>
		{{/site.pages}}
	</header>

	<hr />

	<div id="container">
